fastapi
uvicorn
python-multipart
python-decouple
requests
pandas
scikit-learn>=1.4.2,<1.5.0
joblib
yfinance
streamlit
streamlit-option-menu
numpy==1.24.4
plotly
Jinja2
protobuf
toml
MarkupSafe==2.1.5
setuptools
# Enhanced monitoring and visualization packages
tensorflow>=2.10.0
ta
matplotlib
seaborn
tqdm
psutil
# Add other core dependencies below as needed 